//
// Base styles
//

.alert {
  display: block;
  padding: 0;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  box-shadow: $box-shadow-modal;
  position: fixed;
  justify-content: center;
  align-items: flex-start;
  top: 8.4rem;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 4.2rem;
  width: calc(100% - 2.4rem);
  max-width: 840px;
  z-index: $zindex-alert;

  @include border-radius($alert-border-radius);

  &.alert-bottom {
    top: auto;
    bottom: 2.4rem;
  }

  .close {
    opacity: 1;
    margin: .6rem .6rem 0 0;
  }
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

.alert-body {
  font-weight: $font-weight-medium;
  padding: 1.2rem .6rem 1.2rem 1.5rem;
  width: 100%;
}

.alert-footer {
  background: $gray-lighter;
  border-top: $border-width solid $border-color;
  border-radius: 0 0 $border-radius $border-radius;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.2rem;
  padding: .9rem;
}

// Provide class for links that match alerts
.alert-link {
  color: $link-color;
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  // Adjust close link position
  .close {
    line-height: $line-height-base;
    margin-left: auto;
    position: relative;
    opacity: 1;
    outline: none;
    color: inherit;
    vertical-align: top;
    height: 2.4rem;
    min-width: 2.4rem;
    width: 2.4rem;

    .icon {
      top: -2px;
    }
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  .close {
    color: $brand-success;
  }
}

.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  .close {
    color: $brand-info;
  }
}

.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  .close {
    color: $brand-warning;
  }
}

.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
  .close {
    color: $brand-danger;
  }
}
