// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  border: 1px solid;
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  flex: none;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $line-height-xs;
  min-width: $line-height-xs + ($badge-padding-y * 2) + .2;
  height: $line-height-xs + ($badge-padding-y * 2) + .2;
  color: $badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  @include border-radius();

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

a.badge {
  color: $badge-color;
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

.badge-default {
  @include badge-variant($badge-default-bg);
}
.badge-primary {
  @include badge-variant($badge-primary-bg);
}
.badge-success {
  @include badge-variant($badge-success-bg);
}
.badge-info {
  @include badge-variant($badge-info-bg);
}
.badge-warning {
  @include badge-variant($badge-warning-bg);
}
.badge-danger {
  @include badge-variant($badge-danger-bg);
}

.badge-status {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 2.4rem;
  width: 2.4rem;

  &:empty {
    display: flex;
  }

  position: relative;

  .icon {
    font-size: $font-size-base;
  }

  &.badge-sm {
    padding: 0;
    height: 1.4rem;
    width: 1.4rem;

    .icon {
      font-size: 1rem;
      transform: scale(.6);
      top: auto;
      left: 1px;
    }
  }
}
