// scss-lint:disable QualifyingElement

//
// Base styles
//

button {
  box-sizing: border-box;
  font-family: $font-family-base;
}

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border: $input-btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    @include box-shadow(none);
    @include transition($btn-disabled-transition);

    .icon {
      color: $btn-link-disabled-color;
    }
  }

  &:active,
  &.active {
    background-image: none;
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }

  & + .btn {
    margin-left: .6rem;
  }

  .icon-lg {
    top: -1px;
  }

  @include is-mobile-app() {
    padding: $btn-padding-y-touch $btn-padding-x-touch;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
  background: $secondary-link-bg;

  &:hover {
    color: $link-color;
  }

  &.active {
    color: $link-color;
  }

  &:disabled,
  &.disabled {
    color: $text-muted;
  }
}
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Remove all backgrounds
.btn-outline-primary {
  @include button-outline-variant($btn-primary-bg);
}
.btn-outline-secondary {
  @include button-outline-variant($btn-secondary-border);
}
.btn-outline-info {
  @include button-outline-variant($btn-info-bg);
}
.btn-outline-success {
  @include button-outline-variant($btn-success-bg);
}
.btn-outline-warning {
  @include button-outline-variant($btn-warning-bg);
}
.btn-outline-danger {
  @include button-outline-variant($btn-danger-bg);
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  align-items: center;
  font-weight: $font-weight-medium;
  color: $link-color;
  border-radius: $btn-border-radius;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: $component-hover-bg;
    box-shadow: none;
  }
  &:active {
    background-color: $component-active-bg;
  }
  &:disabled {
    color: $btn-link-disabled-color;

    @include hover-focus {
      text-decoration: none;
    }
  }
}


//
// Button Sizes
//

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-base, $btn-border-radius-lg);
  @include is-mobile-app {
    padding: $btn-padding-y-lg-touch $btn-padding-x-lg-touch;
  }
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
  @include is-mobile-app {
    padding: $btn-padding-y-sm-touch $btn-padding-x-sm-touch;
  }
  line-height: $line-height-sm;
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: $btn-block-spacing-y;
  margin-left: 0;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// by Context
.btn-major-action {
  min-width: 7.2rem;

  @include media-breakpoint-down(sm) {
    min-width: 4.8rem;
  }
}

.btn-circle {
  border-radius: 50%;
  padding: 0;
  text-align: center;
  line-height: 3.6rem;
  height: 3.6rem;
  min-height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;

  @include is-mobile-app() {
    padding: 0;
  }

  &.btn-sm {
    border-radius: 50%;
    padding: 0;
    text-align: center;
    line-height: 3.2rem;
    height: 3.2rem;
    min-height: 3.2rem;
    min-width: 3.2rem;
    width: 3.2rem;
  }

  &.btn-lg {
    line-height: 4.2rem;
    height: 4.2rem;
    min-height: 4.2rem;
    min-width: 4.2rem;
    width: 4.2rem;
  }

  .icon {
    top: -1px;
  }
}

.btn-toggler {
  background: $white;
  border-radius: 50%;
  height: 3rem;
  line-height: 3rem;
  min-width: 3rem;
  padding: 0;
  position: relative;
  width: 3rem;

  &:focus,
  &:active {
    background: $white;
    box-shadow: none;
    outline: none;
  }

  &:hover {
    background: $component-hover-bg;
  }

  &.on {
    background: $component-active-bg;
    color: $link-color;
  }

  .icon {
    top: -1px;
  }
}
