.category-circle {
  background: $border-color;
  border: $border-width solid $border-color;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: $spacer-x / 2;
  min-height: 12px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  min-width: 12px;
  width: 12px;
}

.category-depth-1 {
  td:first-child {
    padding-left: 2.4rem;
  }
}

.category-depth-2 {
  td:first-child {
    padding-left: 3.6rem;
  }
}

.category-depth-3 {
  td:first-child {
    padding-left: 4.8rem;
  }
}

.category-depth-4 {
  td:first-child {
    padding-left: 6rem;
  }
}

.category-depth-5 {
  td:first-child {
    padding-left: 7.2rem;
  }
}

/* Category Color selector */

.category-color-selector {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  padding: 2.4rem 1.2rem;
  padding-bottom: 1.2rem;
  width: 100%;

  .category-color {
    cursor: pointer;
    margin-bottom: 1.2rem;
    text-align: center;
    width: 20%;
  }

  .category-color-chip {
    border: 2px solid transparent;
    border-radius: $border-radius;
    box-sizing: border-box;
    display: inline-block;
    height: 4.8rem;
    width: 4.8rem;

    &.active {
      border-color: $secondary-link-color;
      color: $white;
      font-size: 3rem;
      padding-top: .8rem;
    }
  }
}

@each $category-color in $category-colors {
  $index: index($category-colors, $category-color);

  .category-circle.category-#{$index} {
    background: $category-color;
    border-color: $category-color;
  }

  .category-color-chip.category-#{$index} {
    background: $category-color;
    border-color: $category-color;
  }

  .report-category.category-#{$index} {
    border-left: .6rem solid $category-color;
  }
}
