.member {
  background: $white;
  border: 1px solid $border-color;
  border-left: 0;
  border-right: 0;
  padding: .9rem;
  position: relative;

  + .member {
    margin-top: -1px;
  }

  &.disabled {
  }

  .member-name {
    font-weight: $font-weight-medium;

    &.disabled {
      color: $text-muted;
    }
  }

  .member-block {
    display: flex;
    margin-left: auto;
    font-size: $font-size-sm;
    color: $secondary-link-color;
  }

  .member-status {
    display: flex;
    padding-left: 3.3rem;
    width: 100%;
  }

  .member-tasks {
    font-weight: $font-weight-bold;
    margin-left: auto;

    i {
      margin: 0 $spacer / 2;
    }
  }
}

.task-members {
  flex-wrap: wrap;
  margin-bottom: .9rem;
  margin-top: 0;
}
