// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes


// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: $zindex-navbar;

  @include media-breakpoint-up(md) {
    height: 100%;
    min-height: 100vh;
    min-width: 21.6rem;
    padding: $navbar-padding-y $navbar-padding-x;
    width: 21.6rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
    width: 100%;
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  display: inline-block;
  font-size: $font-size-lg;
  height: 4.8rem;
  opacity: .15;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.8rem;
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  @include media-breakpoint-up(md) {
    flex-direction: column;

    .nav-link {
      border-radius: $border-radius;
      cursor: pointer;
      font-weight: $font-weight-medium;
      margin-bottom: .6rem;
      padding: .9rem 2.4rem .9rem 1.2rem;
    }

    .nav-link .icon {
      margin-right: 1.2rem;
      top: -1px;
    }

    .nav-link .badge {
      position: absolute;
      top: 0;
      right: .9rem;
      bottom: 0;
      margin: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: row;

    .nav-item {
      width: 100%;
    }

    .nav-link {
      cursor: pointer;
      flex: 1 1 100%;
      font-size: 1rem;
      height: 6rem;
      padding-top: 1.2rem;
      text-align: center;
      width: 100%;
    }

    .nav-link .icon {
      display: block;
      font-size: 1.5rem;
      margin-bottom: .3rem;
    }

    .nav-link .badge {
      position: absolute;
      top: .6rem;
      left: 50%;
      right: auto;
      margin-left: .6rem;
    }
  }
}

.navbar-nav.navbar-major-group {
  @include media-breakpoint-up(md) {
    padding-top: .3rem;
    padding-bottom: .9rem;
  }
}

.navbar-nav.navbar-minor-group {
  padding-top: 1.5rem;
  position: relative;

  @include pseudo-border(top, $component-active-inverse-bg, 18rem);

  .nav-link {
    font-size: $font-size-sm;
  }
}


// Navbar text
//
//

.navbar-text {
  display: inline-block;
  padding-top: .425rem;
  padding-bottom: .425rem;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  align-self: flex-start; // Prevent toggler from growing to full width when it's the only visible navbar child
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  font-size: $navbar-toggler-font-size;
  line-height: 1;
  background: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Use `position` on the toggler to prevent it from being auto placed as a flex
// item and allow easy placement.
.navbar-toggler-left {
  position: absolute;
  left: $navbar-padding-x;
}
.navbar-toggler-right {
  position: absolute;
  right: $navbar-padding-x;
}

// Generate series of `.navbar-toggleable-*` responsive classes for configuring
// where your navbar collapses.
.navbar-toggleable {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .navbar-nav {
          .dropdown-menu {
            position: static;
            float: none;
          }
        }

        > .container {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        .navbar-nav {
          flex-direction: row;

          .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }

        // scss-lint:disable ImportantRule
        .navbar-collapse {
          display: flex;
          width: 100%;
        }
        // scss-lint:enable ImportantRule

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus-active {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-light-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
  }
}

// White links against a dark background

.navbar-dark {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-inverse-active-color;

    @include hover-focus {
      color: $navbar-inverse-active-color;
    }
  }

  .navbar-nav {
    .nav-link {

      color: $navbar-inverse-color;

      @include hover-focus-active {
        color: $navbar-inverse-hover-color;
        background: $component-hover-inverse-bg;
      }

      &.disabled {
        color: $navbar-inverse-disabled-color;
      }

      @include is-mobile-app {
        @include hover-focus-active {
          color: $navbar-inverse-color;
          background: transparent;
        }
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-inverse-active-color;

      @include media-breakpoint-up(md) {
        background: $component-active-inverse-bg;
      }

      @include is-mobile-app {
        color: $navbar-inverse-active-color;
      }
    }
  }

  .navbar-toggler {
    border-color: $navbar-inverse-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-inverse-toggler-bg;
  }

  .navbar-text {
    color: $navbar-inverse-color;
  }
}
