.quicktask-current-wrap {
  background: transparent;
  border-radius: 0;
  color: $body-color;
  height: 4rem;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 4.8rem);
}

.quicktask-current {
  display: flex;
  padding-right: 1.2rem;
  padding-left: 1.8rem;
  width: calc(100% - 3.6rem);

  .current-title {
    @include text-overflow();
  }

  .current-elapsed {
    font-weight: $font-weight-bold;
    margin-left: auto;
    min-width: 10.2rem;
    padding-left: 1.2rem;

    .icon {
      top: -1px;
    }
  }

  .current-category-name {
    display: none;
  }
}
