.toolbar {
  background: $gray-lightest;
  border-bottom: $border-width solid $separator-color;
  box-sizing: border-box;
  height: 6rem;
  padding: .9rem;
  position: fixed;
  transition: all .16s ease-in-out;
  width: calc(100% - 21.4rem);
  z-index: $zindex-toolbar;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.toolbar-hidden-touch {
  @include is-mobile-app {
    border: 0;
    height: 0;
    padding: 0;
  }
}
