// Badges

@mixin badge-variant($color) {
  background-color: $color;
  border-color: $color;

  &[href] {
    color: $white;

    @include hover-focus {
      background-color: darken($color, 7%);
      border-color: darken($color, 7%);
      color: $white;
    }
  }
}
