//
// Contextual backgrounds
//

.bg-faded {
  background-color: darken($body-bg, 3%);
}

@include bg-variant('.bg-primary', $brand-primary);

@include bg-variant('.bg-success', $brand-success);

@include bg-variant('.bg-info', $brand-info);

@include bg-variant('.bg-warning', $brand-warning);

@include bg-variant('.bg-danger', $brand-danger);

@include bg-variant('.bg-inverse', $brand-inverse);

.bg-secondary {
  background: $body-bg-secondary;
}

.bg-mint {
  background: $green !important;
}

.bg-blue {
  background: $blue !important;
}

.bg-lemon {
  background: $yellow !important;
}

.bg-orange {
  background: $orange !important;
}

.bg-choco {
  background: $choco !important;
}

.bg-choco-light {
  background: $choco-light !important;
}

.bg-gray-dark {
  background: $gray-dark !important;
}

.bg-gray {
  background: $gray !important;
}

.bg-gray-light {
  background: $gray-light !important;
}

.bg-gray-lighter {
  background: $gray-lighter !important;
}

.bg-gray-lightest {
  background: $gray-lightest !important;
}

.bg-secondary {
  background: $body-bg-secondary !important;
}
